@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  input[type="file"]{
    @apply flex;
  }
  input[type=file]::-webkit-file-upload-button,
  input[type=file]::file-selector-button {
    @apply w-32 h-10 rounded-md font-extrabold bg-black hover:bg-gray-700 text-white cursor-pointer transition-colors outline-none border-none
  }
  input[type=search]::-webkit-search-cancel-button{
    @apply text-gray-300 bg-gray-300 cursor-pointer;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }
}

@layer components{
  .authInput{
    @apply w-64 border-2 block mt-1 py-2 outline-none hover:border-black cursor-pointer transition-colors;
  }
  .authSpan{
    @apply w-12 h-12 flex justify-center items-center text-gray-700 hover:text-gray-900 transition-colors;
  }
  .authButton{
    @apply w-7/12 h-12 flex items-center justify-center mx-auto rounded-lg font-extrabold bg-red-500 hover:bg-red-600 text-white text-xl cursor-pointer mb-3 mt-5 transition-colors;
  }
  .pRegister{
    @apply text-sm font-semibold;
  }
  .flexDivRegister{
    @apply w-full flex justify-between
  }
}

@layer utilities {
  .authWidth{
    width: 475px;
  }
  .textIndent{
    text-indent: 10px;
  }
  .leftbarHeightCalc{
    height: calc(100vh - 56px);
  }
  .profileWidth{
    width: 600px;
  }
  .gridProfileVideos{
    display: grid;
    grid-template-columns: repeat(auto-fit, 190px);
    grid-auto-rows: auto;
    align-items: center;
    justify-content: center;
    grid-gap: 1px;
  }
  .homeVideoSize{
    aspect-ratio: 9/16;
  }
  .videoSize{
    width: 100%;
    aspect-ratio: 9/16;
  }
}